.aText {
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
}

.lane {
  fill: sienna;
}

.symbol {
  font-size: 20px;
  text-anchor: middle;
 }

.plot3names {
  font-size: 15px;
  color: black;
} 

#x_text {
  dominant-baseline: hanging;
}

.resultCircle {
  stroke: #e3e3e3;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 3px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  background: rgba(230, 124, 38, 0.774);
  border: 0px;
  border-radius: 8px;
  pointer-events: none; 
}

.btn-group {
  fill: rgba(230, 124, 38, 0.774);
}

.jumbotron {
  padding: 1em 1em;
  h1 {
      font-size: 6em;
  }
  p {
      font-size: 1.2em;
      .btn {
          padding: 0.5em;
      }
  }
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
