
@media (min-width: 768px) and (max-width: 991px) { ... }.
Medium Sized Devices (e.g. Desktops) have a screen

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}



ul {
  padding: 0;
  list-style-type: none;
}
/* 
h2 {
  font-size: 13px;
} */


#footer {
  color: rgb(255, 246, 221);
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}
/* 
#footer p {
  margin: 0;
  font-size: 16px;
} */


.jumbotron h1{
  color: rgb(0, 0, 0);
  font-family: 'Limelight';
  font-size: 50px;
}

.jumbotron {
  padding: 35px;
  background: rgb(255, 246, 221);
  background-image: url('blank.png');
  /* text-align: left; */
  background-repeat: repeat-x;
  min-width: 720px;
}

body {
  background-color: rgb(65, 4, 4);
  padding-bottom: 80px;
}

#upcoming-text {
  color: rgb(255, 246,221);
}