.idea/
.DS_Store
.ipynb_checkpoints/
.__pycache__/
__pycache__/
.Rhistory
/Resources/01_openingweekend.pickle.gz
/Resources/02a_merge_errors_id.pickle.gz
/Resources/03_tmdb_json.pickle.gz
/Resources/03a_merge_errors_json.pickle.gz
/Resources/04_parsed_json.pickle.gz
/Resources/05_features.pickle.gz
/Resources/06_nn_model_fit_history.pickle.gz
/Resources/06_nn_test_data.pickle.gz
/Resources/06_nn_train_data.pickle.gz
