<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>At the Movies</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Limelight'>
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-md-12 jumbotron text-center img">
        <a href="#" onclick="close_movie_data();" class="stretched-link"></a>
        <h1>AT THE MOVIES:<br>OPENING WEEKEND</h1>
      </div>
    </div>

    <div class="row well">
      <h5 id="upcoming-text">Blank Test Text</h5>
    </div>

    <div id="upcoming-movies">
    </div>

    <br>
    <div id="movie-info" style="display: none;">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body" id="poster"></div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card">
            <div class="card-body" id="title-info"></div>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4 ">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Director</h6>
              <h5 id="director" class="card-title text-center">Mrs. Director</h5>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Producer</h6>
              <h5 id="producer" class="card-title text-center">Dr. Producer</h5>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Writer</h6>
              <h5 id="writer" class="card-title text-center">Mr. Writer</h5>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Budget</h6>
              <h5 id="budget" class="card-title text-center">$test,000,000</h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Runtime</h6>
              <h5 id="runtime" class="card-title text-center">TEST min</h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Genres</h6>
              <h5 id="genres" class="card-title text-center">Genre1, Genre2</h5>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- USE THIS VERSION if only doing PREDICTIONS on upcoming/future movies. -->
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Release Date</h6>
              <h5 id="release-date" class="card-title text-center">Febtobuary, 2019</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 border-danger">
          <div class="card border-danger">
            <h5 class="card-header border-danger text-center mb-2 text-muted">Opening Weekend Prediction</h5>
            <h5 id="prediction" class="card-title text-center">$ 000,000,000</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- USE THIS VERSION if past movies is working. This shows PREDICTION and ACTUAL. -->
    <!-- <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header mb-2 text-muted">Opening Weekend Box Office Results</h5>
          <div class="card-body">
            <div class="row justify-content-around">
              <div class="col-sm-4 card">
                <h6 class="card-subtitle mb-2 text-muted">Predicted</h6>
                <h5 class="card-title">$ 205,000,000</h5>
              </div>
              <div class="col-sm-4 card">
                <h6 class="card-subtitle mb-2 text-muted">Actual</h6>
                <h5 class="card-title">$105,000,000</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>

  <div id="footer" style="background:rgb(65, 4, 4) !important">
    <p>Rosina Tao Dodd &copy; 2019</p>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script> -->
  <script type="text/javascript" src="js/app.js"></script>

</body>

</html>